name: 'dev_webclient'
version: 0.0.1
description: a web app built with dart using angular2/polymer
author: borysn <xborysn@gmail.com>
#homepage: https://www.example.com

environment:
  sdk: '>=1.9.0 <2.0.0'

dependencies:
  browser: ^0.10.0
  web_components: ^0.12.3
  angular2: 2.0.0-beta.20
  polymer: ^1.0.0-rc.18
  polymer_elements: ^1.0.0-rc.9
  firebase3: ^0.2.0-dev
  dev_appserver:
    git:
      url: git://github.com/rvep/dev_appserver.git
      ref: master

transformers:
  - polymer:
      entry_points: web/index.html
  - angular2:
      resolved_identifiers:
        firebase: 'package:firebase3/firebase.dart'
      platform_directives:
        - 'package:angular2/common.dart#COMMON_DIRECTIVES'
      platform_pipes:
        - 'package:angular2/common.dart#COMMON_PIPES'
      entry_points: web/main.dart
  - $dart2js:
      $include: '**/*.bootstrap.initialize.dart'
      minify: true
      commandLineOptions:
        - --trust-type-annotations
        - --trust-primitives